html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  background-color: #282c34;
  height: 100%;
}

.instances {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.instance {
  margin: 1%;
  width: 40%;
}

.instance .btn {
  margin: 1%;
}

.progress {
  background-color: #282c34 !important;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.destroy-button {
  margin: 2% 0 2% auto;
}